@import url(https://fonts.googleapis.com/css2?family=Beiruti:wght@200..900&display=swap);
.floating-buttons,
.to-top {
    bottom: 50px;
    position: fixed;
}
.btn,
.logo,
body,
h1,
h2,
h3,
h4,
h5 {
    font-family: Beiruti, sans-serif;
}
.bio,
.hero,
.services {
    background-image: url(../images/hero_1.jpg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.btn,
.burger,
.socials i,
.to-top {
    cursor: pointer;
}
*,
::after,
::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(100px, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 70px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
@keyframes fadeInUpSlow {
    from {
        opacity: 0;
        transform: translate3d(0, 100px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
@keyframes fadeInUpSlower {
    from {
        opacity: 0;
        transform: translate3d(0, 200px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.js-scroll {
    opacity: 0;
}
.js-scroll.scrolled {
    opacity: 1;
    transition: 2s;
}
.scrolled.fadeInRight {
    animation: fadeInRight;
}
.scrolled.fadeInUp {
    animation: 1s ease-in-out both fadeInUp;
}
.scrolled.fadeInUpSlow {
    animation: fadeInUpSlow;
}
.scrolled.fadeInUpSlower {
    animation: fadeInUpSlower;
}
.scrolled.delay-0-7s {
    animation-duration: 0.7s;
}
.scrolled.delay-0-9s {
    animation-duration: 0.9s;
}
.scrolled.delay-1-2s {
    animation-duration: 1.2s;
}
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #ff8e71;
    --bs-secondary: #003a70;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-section-padding: 130px;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.flex {
    display: flex;
}
.justify-content-space-between {
    justify-content: space-between;
}
.justify-content-center {
    justify-content: center;
}
.align-items-center {
    align-items: center;
}
.text-p {
    color: #999;
    line-height: 1.5;
    font-size: 0.9em;
    font-weight: 400;
}
.btn {
    color: var(--bs-light);
    background-color: #ff8e71;
    padding: 0.6rem 3rem;
    border: none;
    border-radius: 20px;
    font-weight: 700;
    font-size: 1.2rem;
}
.btn:hover,
.to-top:hover {
    background-color: rgba(255, 142, 113, 0.8);
}
.burger-menu::after,
.burger-menu::before {
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: inherit;
    transition: 0.3s ease-in-out;
    content: "";
}
.floating-buttons {
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
    z-index: 1000;
}
.phone-button,
.whatsapp-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    background-color: #25d366;
    color: #fff;
}
.phone-button {
    font-size: 25px;
}
.whatsapp-button {
    font-size: 30px;
}
.phone-button:hover,
.whatsapp-button:hover {
    transform: scale(1.1);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.7);
}
a:is(:link, :active, :visited).active {
    color: var(--bs-primary);
}
.to-top {
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 7px;
    background-color: #ff8d7173;
    font-size: 1.5rem;
    right: 20px;
    z-index: 99;
}
.burger-menu,
.logo,
.nav-bar {
    position: relative;
}
header {
    padding-left: var(--bs-section-padding);
    padding-right: var(--bs-section-padding);
    position: absolute;
    width: 100%;
}
.logo {
    width: 100px;
    top: 5px;
}
.nav-bar li {
    padding-left: 1.7rem;
}
.nav-bar li a {
    color: var(--bs-gray);
    font-size: 1.2rem;
    font-weight: 600;
    transition: 0.3s;
}
.discount-icon{
    position: relative;
}
.new_releases{
    position: absolute;
    bottom: 20px;
    right: 0;
    color: var(--bs-primary);
    font-size: 25px;
    animation: heart-beat 1s ease-in-out infinite;
}
@keyframes heart-beat {
    60% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
  }
  
.bio-text h2,
.left-container p,
.left-testimonial h2,
.nav-bar li a:hover {
    color: var(--bs-primary);
}
.card-info h2,
.hero-content h1,
.offer-h1,
.title {
    color: var(--bs-secondary);
}
.burger {
    display: none;
    padding: 0.6rem 0;
}
.burger-menu {
    width: 2.3rem;
    height: 3px;
    background-color: var(--bs-dark);
}
.burger-menu::after {
    bottom: 10px;
}
.burger-menu::before {
    top: 10px;
}
.nav .close-icon {
    opacity: 0;
    z-index: 7;
    position: fixed;
    top: 15px;
    right: 15px;
    font-size: 2.5rem;
    font-weight: 300;
    cursor: pointer;
}
.offer-text,
.services {
    z-index: 1;
    position: relative;
}
.hero {
    min-height: 100dvh;
}
.hero-content {
    text-align: center;
    margin-top: 7rem;
    justify-content: center;
}
.bio-text-spans,
.footer-container .adress,
.footer-container .links,
.services-container {
    flex-direction: column;
    display: flex;
}
.bio-text,
.offer-text,
.text-container {
    text-align: right;
}
.auto-type {
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid var(--bs-secondary);
    animation: 1.2s steps(20) infinite typing;
    padding-right: 0.5rem;
    font-size: 2rem;
    font-weight: 600;
}
.bio-container,
.offer,
.testimonials,
footer {
    padding-left: var(--bs-section-padding);
    padding-right: var(--bs-section-padding);
}
@keyframes typing {
    from {
        width: 0;
    }
    50% {
        border-right: none;
    }
}
.hero-content h1 {
    font-size: 2.5rem;
    font-weight: 300;
    animation: 0.7s fadeInUp;
}
.hero-content .btn {
    animation: 1.2s fadeInUpSlower;
}
.hero-content .text-p {
    margin: 1rem 0;
    animation: 0.9s fadeInUpSlow;
    font-size: 1.2rem;
    padding-left: 10px;
    padding-right: 10px;
}
@media (max-width: 786px) {
    .hero-content h1 {
        font-size: 2rem;
    }
}
.bio-container {
    padding-top: 100px;
}
.overlay {
    background-color: rgba(0, 58, 112, 0.9);
    width: 100%;
    height: 100%;
}
.left-container,
.offer-img {
    width: 50%;
}
.left-container h1 {
    color: var(--bs-orange);
    font-size: 0.9rem;
    font-weight: 400;
}
.left-container p,
.offer-h1 {
    font-size: 2rem;
    font-weight: 600;
}
.left-container img {
    max-width: 100%;
    margin: auto;
    position: relative;
    top: 3rem;
}
.right-container {
    width: 50%;
    position: relative;
}
.bio-text h2 {
    font-size: 2rem;
    padding-bottom: 2rem;
}
.offer-p,
.right-container p {
    font-size: 1.5rem;
    font-weight: 400;
}
.right-container p {
    color: var(--bs-light);
    padding: 0.6rem 0;
}
.bio-text-spans span {
    color: #ffffffb5;
    padding: 0.5rem 0;
    font-size: 1.3rem;
}
.line-seprator {
    position: absolute;
    width: 2px;
    height: 25rem;
    background-color: var(--bs-orange);
    right: 8rem;
    top: 22rem;
}
.offer-text {
    background-color: var(--bs-white);
    height: 10rem;
    margin-top: 4rem;
}
.offer-info,
.services::before {
    background-color: rgba(0, 58, 112, 0.9);
}
.offer-content {
    position: relative;
    height: 450px;
}
.offer-img img {
    width: 100%;
    height: 450px;
}
.offer-info {
    width: 50%;
    height: 350px;
}
.offer-p {
    color: var(--bs-gray);
}
.text-container {
    padding: 3rem 6rem;
}
.text-container h1 {
    color: var(--bs-primary);
    font-size: 1.8rem;
    margin-bottom: 2rem;
}
.text-container p {
    color: var(--bs-light);
    font-size: 1.5rem;
    padding: 0.6rem 0;
    line-height: 1.5;
    font-weight: 400;
}
.text-slide-container {
    animation: 0.5s linear slideLeft;
}
@keyframes slideLeft {
    from {
        transform: translateX(50%);
    }
    to {
        transform: translateX(-50%);
    }
}
.card-info,
.stats,
.title {
    text-align: center;
}
.card h2,
.title {
    font-weight: 600;
}
.services {
    padding-left: var(--bs-section-padding);
    padding-right: var(--bs-section-padding);
    margin-top: 5rem;
}
.services::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: -1;
    top: 0;
}
.services-container {
    justify-content: center;
    gap: 1rem;
    padding: 4rem 0;
}
.service-card {
    display: flex;
    max-width: 100%;
}
.card-info {
    background-color: #f8f9fa;
    width: 25%;
    border-radius: 0 4px 4px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    gap: 2rem;
}
.service-card img {
    width: 75%;
    height: 380px;
    border-radius: 4px 0 0 4px;
}
.other-services {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.stats {
    padding: var(--bs-section-padding);
}
.title {
    font-size: 2rem;
}
.stats p {
    padding-bottom: 4rem;
    font-weight: 500;
}
.stats-cards {
    gap: 0.5rem;
}
.stats-cards .card {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 250px;
    background-color: #f9f1f1;
    border-radius: 10px;
}
.card .material-symbols-outlined {
    color: var(--bs-primary);
    font-size: 3.5rem;
    font-weight: 400;
    padding-bottom: 1rem;
}
.card h2 {
    color: var(--bs-gray);
    font-size: 1.5rem;
}
.stats-cards .card:nth-child(2),
.stats-cards .card:nth-child(4) {
    top: 2.5rem;
}
@media (max-width: 900px) {
    .stats {
        padding-top: 2rem;
        margin-bottom: 2rem;
    }
    .stats p {
        padding-bottom: 3rem;
    }
}
.left-testimonial,
.right-testimonial {
    width: 50%;
    height: auto;
    position: relative;
    margin-bottom: 8rem;
}
.left-testimonial {
    padding: 4rem 10rem 0 0;
    text-align: right;
}
.left-testimonial h1 {
    color: var(--bs-secondary);
    font-size: 2.3rem;
    font-weight: 400;
}
.company-adress p,
.footer-container .adress p,
.left-testimonial p,
.socials i {
    color: var(--bs-gray);
}
.left-testimonial p {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1rem 0;
}
.right-testimonial {
    height: 400px;
}
.right-testimonial img {
    width: 100%;
    height: 100%;
}
.right-testimonial .frame {
    position: absolute;
    border: 4px solid var(--bs-primary);
    max-width: 55%;
    margin: auto;
    bottom: -3.5rem;
    left: -5rem;
    height: 250px;
}
footer {
    background-color: #efefef;
}
.footer-container {
    justify-content: end;
    padding-top: 2rem;
    padding-bottom: 4rem;
    text-align: right;
    gap: 5rem;
}
.footer-container .footer-title {
    color: var(--bs-primary);
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
    padding-bottom: 0.5rem;
}
.adress .adress-icon {
    color: var(--bs-primary);
    font-size: 1.3rem;
    font-weight: 600;
    padding-left: 1rem;
}
.adress .adress-line,
.company-adress p {
    font-size: 1.2rem;
    font-weight: 600;
}
.adress .adress-line {
    padding: 0.5rem 0;
    color: var(--bs-gray) !important;
}
.socials {
    padding-top: 1rem;
}
.socials i {
    background-color: rgba(187, 184, 184, 0.5);
    padding: 0.8rem;
    border-radius: 13px;
    font-size: 1.1rem;
    transition: 0.3s;
    margin-left: 0.5rem;
}
.socials i:hover {
    background-color: var(--bs-primary);
}
@media (max-width: 991px) {
    .burger,
    .nav-bar,
    .nav-bar li a,
    .testimonials {
        display: block;
    }
    .nav-bar,
    .nav-overlay {
        position: fixed;
        left: 0;
        top: 0;
    }
    .offer,
    footer,
    header {
        padding-left: 20px;
        padding-right: 20px;
    }
    .nav {
        flex-direction: row-reverse;
    }
    .nav-overlay {
        width: 100%;
        height: 100%;
        z-index: 5;
        visibility: hidden;
    }
    .nav .close-icon {
        opacity: 1;
    }
    .dropdown .collapse::after,
    .services::after {
        opacity: 0;
    }
    .nav-bar {
        width: 40%;
        min-height: 100dvh;
        box-shadow: 0 0 20px -10px var(--bs-gray);
        background-color: var(--bs-white);
        z-index: 6;
        transition: 0.3s;
        padding: 4rem 2rem;
        transform: translateX(-100%);
    }
    .show-nav-bar {
        transform: translateX(0);
    }
    .transparentBg {
        visibility: visible;
    }
    .nav-bar li {
        padding: 0;
    }
    .nav-bar li a {
        color: var(--bs-dark);
        font-weight: 600;
        padding: 1rem 0;
        width: 100%;
    }
    .bio-text,
    .left-container,
    .offer-img,
    .offer-info,
    .right-container {
        width: 100%;
    }
    .bio-container {
        display: block;
        padding-left: 20px;
        padding-right: 20px;
    }
    .left-container img {
        margin: -4rem 0 1rem;
        top: 0;
    }
    .bio-text {
        padding-bottom: 5rem;
        padding-top: 1rem;
    }
    .right-container p {
        font-size: 0.9rem;
    }
    .line-seprator {
        height: 20rem;
        left: 2rem;
    }
    .offer-text {
        height: 4rem;
        margin: 2rem 0;
    }
    .offer-content {
        flex-direction: column-reverse;
        height: 100%;
    }
    .offer-h1 {
        font-size: 2rem;
        text-align: right;
    }
    .text-container {
        padding: 3rem 1rem;
        text-align: right;
    }
    .services {
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 0;
    }
    .stats,
    .testimonials {
        padding-left: 20px;
        padding-right: 20px;
    }
    .stats {
        padding-bottom: 2rem;
    }
    .stats-cards {
        flex-wrap: wrap;
        gap: 0.5rem;
        justify-content: center;
    }
    .stats-cards .card {
        width: 300px;
        height: 250px;
        flex: auto;
    }
    .stats-cards .card:nth-child(2),
    .stats-cards .card:nth-child(4) {
        top: 0;
    }
    .testimonials {
        margin-bottom: 6rem;
    }
    .right-testimonial,
    .testimonials .left-testimonial {
        width: 100%;
        margin-bottom: 0;
    }
    .left-testimonial {
        padding: 4rem 0;
    }
    .footer-container {
        grid-template-columns: 1fr 2fr;
    }
}
@media (max-width: 768px) {
    .bio-container,
    .offer,
    .stats,
    .testimonials,
    footer,
    header {
        padding-left: 10px;
        padding-right: 10px;
    }
    .nav-bar {
        width: 70%;
    }
    .bio-container {
        display: block;
    }
    .offer-h1 {
        font-weight: 300;
        font-size: 2rem;
    }
    .offer-img img {
        height: 300px;
    }
    .services-container {
        gap: 1rem;
        padding: 1rem;
    }
    .service-card {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }
    .service-card img {
        width: 100%;
        border-radius: 4px 4px 0 0;
    }
    .card-info {
        width: 100%;
        gap: 0.5rem;
        padding: 1rem 0;
        border-radius: 0 0 4px 4px;
    }
    .other-services .btn {
        padding: 0.6rem 1rem;
        font-size: 1rem;
    }
    .right-testimonial .frame {
        max-width: 60%;
        bottom: -5.5rem;
        left: 1rem;
        height: 200px;
    }
    .footer-container {
        flex-direction: column;
        justify-content: end;
        padding-bottom: 6rem;
        gap: 2rem;
    }
}
@media (max-width: 480px) {
    .service-card img {
        max-height: 200px;
    }
    .socials i {
        padding: 0.8rem;
        margin-left: 0.5rem;
        font-size: 0.8rem;
    }
}
